---
layout: default
---

<div class="video-cut valign-wrapper">
  <!--<div class="frase light-green darken-4 valign-wrapper">-->
    <!--<span class="frase white-text"> hola amigos </span>-->
  <!--</div>-->
  <video class="background" loop muted autoplay preload="auto">
    <source src="assets/images/agro.mp4" type="video/mp4">
  </video>
</div>

<div id="quienes-somos" class="container padded">
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h3 class="">Quienes somos</h3>
          <p class="light">Una empresa dedicada a la agricultura convencional y ecológica; que además de llevar a cabo el seguimiento en los campos propios, colabora con un grupo de agricultores con los cuales trabaja en equipo y asesora para obtener la mejor producción y la comercialización del cultivo.</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="carousel carousel-slider">
          {% for image in site.static_files %}
          {% if image.path contains 'images/slider' %}
          <a class="carousel-item"><img class="responsive-img" src="{{ site.baseurl }}{{ image.path }}"></a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
</div>

<div id="productos" class="grey lighten-4 section">
  {% include products.html %}
</div>


{% include contact_us.html %}
